@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.cardShape {
    box-sizing: border-box;
    position: relative;
    width: 662px;
    height: 458px;
}

.menuTitle {
    position: absolute;
    top: 45px;
    left: 47px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.menuTitle div:first-child {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 26px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 19px 4px rgba(0, 0, 0, 0.12);
    margin: 0px 30px 0px 0px;
}

.menuTitle div:last-child {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}

.mainInfo {
    position: absolute;
    top: 148px;
    left: 171px;
    width: 320px;
    height: 118px;
    background: #2F9356;
}
.mainInfo div:first-child {
    margin: 18px auto 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.mainInfo div:last-child{
    margin: 15px auto 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}