@import "src/shared/styles/pxToRem";

.slots {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: pxToRem(8px);
}

.slotWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
