.cardShape {
    box-sizing: border-box;
    position: relative;
    width: 662px;
    height: 458px;
}

.title {
    position: absolute;
    top: 170px;
    left: 47px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.mainInfo {
    position: absolute;
    top: 198px;
    left: 47px;
    width: 566px;
    height: 78px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.value {
    box-sizing: border-box;
    z-index: 2;
    border:none;
    width: 299px;
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2F9356;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    opacity:0;
}

.value:focus{
    outline: none;
}

.mask {
    box-sizing: border-box;
    position: absolute;
    top:0px;
    left:0px;
    border:none;
    width: 299px;
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2F9356;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}

.info {
    width: 263px;
    height: 78px;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.info>div {
    width: 233px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.info>div>div{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.acceptButton{
    position: absolute;
    right:48px;
    top:358px;
}