.cardShape {
    box-sizing: border-box;
    position: relative;
    width: 662px;
    height: 458px;
}

.mainInfo {
    position: absolute;
    top: 148px;
    left: 171px;
    width: 320px;
    height: 118px;
    background: #2F9356;
}
.mainInfo div:first-child {
    margin: 18px auto 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.mainInfo div:last-child{
    margin: 15px auto 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}