.cardShape {
    box-sizing: border-box;
    position: relative;
    width: 662px;
    height: 458px;
}

.pinCodeInput {
    box-sizing: border-box;
    border: none;
    position: absolute;
    top: 169px;
    left: 0px;
    margin: 0px 12px 0px 12px;
    background: #2F9356;
    display: block;
    width: 638px;
    height: 54px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 15px;
    color: #FFFFFF;
    text-align: center;
}

.pinCodeInput:focus{
    outline: none;
    caret-color: transparent;
}

.pinCodeInput::placeholder{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 15px;
    color:rgba(255, 255, 255, 1);
    text-align: center;
}

.screenAlert {
    position: absolute;
    width: 259px;
    height: 81px;
    left: 201px;
    top: 248px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.screenAlertError {
    box-sizing: border-box;
    padding: 0px 41px 0px 41px;
    position: absolute;
    width: 198px;
    height: 66px;
    left: 232px;
    top: 248px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.screenAlertText {
    width: 220px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.screenAlertTextError {
    width: 220px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #D13030;
}