.container {
    width: 410px;
    height: 381px;
    background: rgba(32, 32, 32, 0.9);
    font-family: 'Roboto';
    font-style: normal;
    border: 11px solid rgba(0, 0, 0, 0.8);

}

.tabdiv {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    height: fit-content;
    padding-top: 14px;
    width: fit-content;
}


.border {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    gap: 0px;
    padding-bottom: 3px;
}

.border1 {
    border-bottom: 1px solid  #565656;
    width: 144px;
    margin-left: 23px;
}

.border2 {
    border-bottom: 1px solid  #565656;
    width: 89px;
}


.border1.active {
    border-bottom: 3px solid #FFD80E;
    width: 144px;
    margin-left: 23px;
}

.border2.active {
    border-bottom: 3px solid #FFD80E;
    width: 89px;
}


.tabs {
    padding-left: 31px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.two-tabs {
    padding-top: 14px;
}

.request {
    padding-left: 25px;
}

.searchContainer {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0);
    border-radius: 10px;
  }
  
  .searchID{
    flex: 1;
    border: none;
    text-align: center;
    font-size: 16px;
    margin-left: 9px;
    margin-right: 5px;
    background: rgba(0, 0, 0);
    border-radius: 10px;
    width: 135px;
    height: 41px;
    color: #949494;
  }


  .addTab {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    margin-top: 21px;
  }
  
  .searchButton {
    margin-left: 5px;
    margin-right: 5px;
    width: 135px;
    height: 41px;
    font-size: 16px;
    background: #FFD80E;
    border-radius: 10px;
    cursor: pointer;
  }

.addbutton {
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    color: #000000;
    cursor: pointer;
    background-color: #ffd80e;
    width: 100px;
    height: 33px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11px;
    }

.addbutton.active {
    background-color: transparent;
    color: #ffd80e;
}

.Cross {
    fill: #FFD80E;
    width: 12px;
    height: 12px;
    float: right;
    padding-right: 10px;
    padding-top: 10px;
    cursor: pointer;
}