.greenBorderBackground{
    position: relative;
    width:896px;
    height:690px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:url(./assets/greenBorders.png), rgba(0, 0, 0, 0.7);
    background-size: contain;
}
.greenBorderBackground>img{
    position: absolute;
    top:20px;
    left:90px;
}
.blackBackground{
    position: relative;
    width:662px;
    height: 458px;
    background: #000000, ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.colorBackground{
    position:absolute;
    top:15px;
    left:12px;
    width:638px;
    height:428px;
    background:linear-gradient(90.24deg, #84DDA8 -0.98%, #2F9356 99.79%), url(./assets/colorBackground.png) no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index:10;
    left:47px;
    top: 27px;
    width:567px;
    height:71px;
}
.finishWork {
    box-sizing: border-box;
    padding: 0px 15px 0px 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    width: 199px;
    height: 71px;
    background: #FFFFFF;
    box-shadow: 0px 0px 19px 4px rgba(0, 0, 0, 0.12);
}
.finishWork:hover{
    cursor:pointer;
}

.finishWork div:first-child {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #E3AD22;
    width: 125px;
}

.finishWork div:last-child {
    width: 31px;
    height: 31px;
    background: #F77248;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuTitle {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.backButton{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 26px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 19px 4px rgba(0, 0, 0, 0.12);
    margin: 0px 25px 0px 0px;
}
.backButton:hover{
    cursor:pointer;
}

.backButtonHide{
    display:none;
}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}

.subTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.test{
    width:100px;
    height: 100px;
    background: black;
    position: absolute;
    top:50%;
    left:50%;
    z-index: 20;
}