.identification-card {
  position: absolute;
  width: 450px;
  height: 280px;
  background-color: #ddd;
  border: 2px solid #555;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  background-image: url('shared/icons/identification card.png');
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  color: #000;
}

.state {
  position: absolute;
  width: 202px;
  height: 34px;
  left: 45px;
  top: 10px;
  font-family: 'Glamour Absolute';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 0.05em;
  color: #253F84;
}

.photoURL {
  position: absolute;
  width: 125px;
  height: 167px;
  border: 0px solid #555;
  margin-right: 10px;
  left: 25px;
  top: 55px;
}

.photoURL img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bwPhoto {
  position: absolute;
  width: 68.48px;
  height: 83px;
  left: 276px;
  top: 163px;
}

.bwPhoto img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  object-fit: cover;
  filter: grayscale(100%);
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.idGraph {
  position: absolute;
  width: 10px;
  height: 12px;
  left: 163px;
  top: 59px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.02em;
  color: #075492;  
}

.id {
  position: absolute;
  width: 78px;
  height: 21px;
  left: 180px;
  top: 51px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #AD322D;  
}

.expireGraph {
  position: absolute;
  width: 19px;
  height: 12px;
  left: 163px;
  top: 88px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.02em;
  color: #075492;
}

.expireDate {
  position: absolute;
  width: 86px;
  height: 19px;
  left: 189px;
  top: 82px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #AD322D;
}


.nameGraph{
  position: absolute;
  width: 13px;
  height: 12px;
  left: 163px;
  top: 109px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.02em;
  color: #075492;
}

.lastName {
  position: absolute;
  width: 51px;
  height: 15px;
  left: 183px;
  top: 106px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: #232323;
}

.familyGraph {
  position: absolute;
  width: 13px;
  height: 12px;
  left: 163px;
  top: 124px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.02em;
  color: #075492;
}

.familyName {
  position: absolute;
  width: 31px;
  height: 15px;
  left: 183px;
  top: 121px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: #232323;
}

.street {
  position: absolute;
  width: 139px;
  height: 28px;
  left: 163px;
  top: 138px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;

  color: #232323;
}

.ageGraph {
  position: absolute;
  width: 21px;
  height: 12px;
  left: 163px;
  top: 175px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.02em;
  color: #075492;
}

.dateofBirth {
  position: absolute;
  width: 86px;
  height: 19px;
  left: 191px;
  top: 169px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #AD322D;
}

.sexGraph {
  position: absolute;
  width: 19px;
  height: 12px;
  left: 205px;
  top: 224px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.02em;
  color: #075492;
}

.sex {
  position: absolute;
  width: 9px;
  height: 12px;
  left: 231px;
  top: 224px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #232323;
}

.heightGraph {
  position: absolute;
  width: 21px;
  height: 12px;
  left: 205px;
  top: 236px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.02em;
  color: #075492;
}

.height {
  position: absolute;
  width: 22px;
  height: 12px;
  left: 233px;
  top: 236px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #232323;
}

.hairGraph {
  position: absolute;
  width: 24px;
  height: 13px;
  left: 276px;
  top: 224px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.02em;
  color: #075492;
}

.hair {
  position: absolute;
  width: 19px;
  height: 12px;
  left: 307px;
  top: 224px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #232323;
}

.weightGraph {
  position: absolute;
  width: 23px;
  height: 13px;
  left: 276px;
  top: 237px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.02em;
  color: #075492;
}

.weight {
  position: absolute;
  width: 29px;
  height: 12px;
  left: 306px;
  top: 237px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #232323;
}

.eyesGraph {
  position: absolute;
  width: 25px;
  height: 13px;
  left: 362px;
  top: 224px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.02em;
  color: #075492;
}

.eyes {
  position: absolute;
  width: 20px;
  height: 12px;
  left: 394px;
  top: 224px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #232323;
}

.issuedGraph {
  position: absolute;
  width: 16px;
  height: 13px;
  left: 377px;
  top: 240px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.02em;
  color: #075492;
}

.issued {
  position: absolute;
  width: 54px;
  height: 12px;
  left: 377px;
  top: 253px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #232323;
}

.d11rGraph {
  position: absolute;
  width: 14px;
  height: 12px;
  left: 205px;
  top: 253px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.02em;
  color: #075492;
}

.documentD11r {
  position: absolute;
  width: 123px;
  height: 12px;
  left: 226px;
  top: 253px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #232323;
}

.signature {
  position: absolute;
  object-fit: cover;
  width: 94px;
  height: 40px;
  left: 40px;
  top: 229px;
}

.signature img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}