
@import "src/shared/styles/pxToRem";

$container-width: 100px;
$container-height: 41px;
$select-padding-left: 10px;
$select-font-size: 16px;
$select-line-height: 19px;
$wrapper-margin-top: 4px;
$wrapper-padding-right: 4px;
$option-height: 29px;
$options-height: calc(27px*4);
$options-font: 10px;
$arrow-margin-right: 10px;
$select-wraper-options-padding: 10px;
$option-border-bottom: 1px;
$thumb-height: 3px;
$thumb-border-radius: 3px;
$scrollbar-width: 6px;
$track-margin: 8px;

.container {
  user-select: none;
  width: pxToRem($container-width);
  height: pxToRem($container-height);
  color: #949494;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: pxToRem($select-font-size);
  line-height: pxToRem($select-line-height);
}

.select {
  cursor: pointer;
  line-height: 1;
  outline: 0;
  padding-left: pxToRem($select-padding-left);
  height: inherit;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0);
  justify-content: space-between;
}

.hasValue {
  color: #fff;
}

.rounded {
  .select, .wrapper, .options {
    border-radius: pxToRem($select-wraper-options-padding);
  }
}

.wrapper {
  box-sizing: border-box;
  background: #222223;
  overflow: hidden;
  padding-right: pxToRem($wrapper-padding-right);
  margin-top: pxToRem($wrapper-margin-top);
}

.options {
  height: 0;
  transition: 0.5s all ease;
  overflow: scroll;
  box-sizing: border-box;
  font-size: pxToRem($options-font);
  color: #fff;

  .option {
    padding-left: pxToRem($select-padding-left);
    background-color: #222223;
    cursor: pointer;
    border-bottom: pxToRem($option-border-bottom) solid #313131;
    height: pxToRem($option-height);
    display: flex;
    align-items: center;
    transition: 0.3s all;

    &:hover {
      color: #949494;
    }
  }

  &::-webkit-scrollbar-thumb:vertical {
    background: #aaaaaa;
    height: pxToRem($thumb-height);
    border-radius: pxToRem($thumb-border-radius);
    width: 0;
  }

  &::-webkit-scrollbar {
    height: 0px;
    width: pxToRem($scrollbar-width);
    background: rgba(1, 1, 1, 0);
  }

  &::-webkit-scrollbar-track {
    margin: pxToRem($track-margin) 0;
  }
}

.arrow {
  transition: 0.5s transform ease;
  margin-right: pxToRem($arrow-margin-right);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
}

.clicked {
  .arrow {
    transform: rotate(270deg);
  }
  .options {
    height: pxToRem($options-height);
  }
}

.activeOption {
  background: #1c1c1c;
}