.progress {
    background: linear-gradient(
        to right,
        #ffd80e 0%,
        #ffd80e 40%,
        #393939 40%,
        #393939 100%
    );
    height: 5px;
    width: 398px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

.progress::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.progressSmall {
    width: 194px;
    height: 3px;
    border-radius: 3px;
}
