@import "src/shared/styles/pxToRem";
$text-font: 16px;
$text-line-height: 24px;
$text-div-width: 167px;
$hours-margin-top: 14px;
$hours-font: 36px;
$hours-line-height: 42px;



.timerWidget {
    font-family: 'Roboto';
    font-style: normal;
    color: #AAAAAA;
}

.text {
    font-weight: 400;
    font-size: pxToRem($text-font);
    line-height: pxToRem($text-line-height);
    width: pxToRem($text-div-width);
}


.hours {
    margin-top: pxToRem($hours-margin-top);
    font-weight: 500;
    font-size: pxToRem($hours-font);
    line-height: pxToRem($hours-line-height);
}