
.timerWidget {
    font-family: 'Roboto';
    font-style: normal;
    color: #AAAAAA;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 167px;
}


.hours {
    margin-top: 14px;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
}