   .container {
    height: 300px;
    overflow-y: scroll;
  }
  
  .member {
    margin-top: 10px;
    margin-left: 23px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    white-space: nowrap;
    font-weight: 400;
    color: #FFFFFF;
  }
  
  .fullName {
    margin-right: 62px;
    grid-column: 1;
  }
  
  .age {
    margin-right: 72px;
    grid-column: 2;
  }
  
  .role {
    grid-column: 3;
  }
  
  .container::-webkit-scrollbar {
    width: 8px;
  }
  
  .container::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  .container::-webkit-scrollbar-thumb {
    background-color: #565656;
    border-radius: 10px;
  }
  
  .container::-webkit-scrollbar-thumb:hover {
    background-color: #888;
  }