.container {
    background: rgba(32, 32, 32, 0.9);
    width: 410px;
    height: 276px;
    font-family: 'Roboto';
    font-style: normal;
    border: 10px solid rgba(0, 0, 0, 0.8);
}

.block1 {
    position: relative;
    margin-top: 23px;
    margin-left: 15px;
    width: 390px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #AAAAAA;
    display: inline-block;
}

.age {
    font-size: 16px;
    line-height: 19px;
    color: #949494;
    float: right;
    padding-right: 15px;
}


.desc {
    float: right;
    padding-right: 15px;
}

.names {
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.earnings {
    padding-top: 11px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:#FFFFFF;
}

.cash {
    float: right;
    padding-right: 15px;
}

.card {
    padding-right: 15px;
    float: right;
}

.yellow {
    color: #FFD80E;
}

.cardIcon {
    fill:  #FFFFFF;
    float: right;
    padding-right: 8px;
    padding-top: 4px;
}

.walletIcon {
   fill: #FFFFFF;
   float: right;
   padding-right: 8px;
   padding-top: 3px;
}

.buttons {
    padding-top: 22px;
    padding-left: 16px;
    display: grid;
     grid-template-columns: 1fr 1fr;
}

.buttons :nth-child(1) {
    margin-right: 10px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 0px;
}

.buttons :nth-child(2) {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 0px;
    white-space: nowrap;
}

.customButton {

width: 500px;
height: 85px;

}
