
@import "src/shared/styles/pxToRem";

$container-width: 410px;
$container-height: 276px;
$container-border: 10px;
$block1-margin-top: 23px;
$block1-margin-left: 15px;
$block1-width: 390px;
$age-font-size: 16px;
$age-line-height: 19px;
$desc-padding-right: 15px;
$names-margin-bottom: 14px;
$names-font-size: 18px;
$names-line-height: 21px;
$earnings-padding-top: 11px;
$earnings-font-size: 16px;
$earnings-line-height: 24px;
$card-padding-right: 15px;
$buttons-padding-top: 32px;
$buttons-padding-left: 15px;
$buttons-padding-right: 15px;
$buttons-margin-right: 10px;
$buttons-font-size: 16px;
$buttons-line-height: 19px;
$buttons-gap: 10px;
$card-icon-padding-right: 8px;
$card-icon-padding-top: 4px;
$wallet-icon-padding-right: 8px;
$wallet-icon-padding-top: 3px;
$button-child-font: 16px;
$button-child-line-height: 19px;

.container {
  width: pxToRem($container-width);
  height: pxToRem($container-height);
  background: rgba(32, 32, 32, 0.9);
  font-family: 'Roboto';
  font-style: normal;
  border: pxToRem($container-border) solid rgba(0, 0, 0, 0.8);
}

.block1 {
  position: relative;
  margin-top: pxToRem($block1-margin-top);
  margin-left: pxToRem($block1-margin-left);
  width: pxToRem($block1-width);
  font-weight: 400;
  font-size: pxToRem($buttons-font-size);
  line-height: pxToRem($buttons-line-height);
  color: #AAAAAA;
  display: inline-block;
}

.age {
  font-size: pxToRem($age-font-size);
  line-height: pxToRem($age-line-height);
  color: #949494;
  float: right;
  padding-right: pxToRem($desc-padding-right);
}

.desc {
  float: right;
  padding-right: pxToRem($desc-padding-right);
}

.names {
  margin-bottom: pxToRem($names-margin-bottom);
  font-weight: 400;
  font-size: pxToRem($names-font-size);
  line-height: pxToRem($names-line-height);
}

.earnings {
  padding-top: pxToRem($earnings-padding-top);
  font-weight: 400;
  font-size: pxToRem($earnings-font-size);
  line-height: pxToRem($earnings-line-height);
  color:#FFFFFF;
}

.cash {
  float: right;
  padding-right: pxToRem($desc-padding-right);
}

.card {
  padding-right: pxToRem($card-padding-right);
  float: right;
}

.yellow {
    color: #FFD80E;
}

.cardIcon {
  fill: #FFFFFF;
  float: right;
  padding-right: pxToRem($card-icon-padding-right);
  padding-top: pxToRem($card-icon-padding-top);
}

.walletIcon {
  fill: #FFFFFF;
  float: right;
  padding-right: pxToRem($wallet-icon-padding-right);
  padding-top: pxToRem($wallet-icon-padding-top);
}

.buttons {
  padding-top: pxToRem($buttons-padding-top);
  padding-left: pxToRem($buttons-padding-left);
  padding-right: pxToRem($buttons-padding-right);
  display: grid;
  gap: pixToRem($buttons-gap);
  grid-template-columns: 0.5fr 1fr;
}

.buttons :nth-child(2) {
    width:auto;
    height: auto;
    white-space: nowrap;
}




