
.container {
    padding-top: 9px;
    width: fit-content;
    height: fit-content;
}

.key {
    fill:  #269E39;
    width: 14px;
    height: 12px;

}

.cross {
    fill: #ED1A1A;
    width: 12px;
    height: 12px;

}

button {
    width: 30px;
    height: 30px;
    background: #000000;

    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
    
}

button:first-child {
    margin-right: 5px;
}