   .container {
    height: 300px;
    overflow-y: scroll;
  }
  
  .member {
    margin-left: 23px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0px;
    white-space: nowrap;
    font-weight: 400;
    color: #FFFFFF;
  }
  

  .fullname {
    margin-top: 16px;
    margin-right: 50px;
    grid-column: 1;
  }
  
  .age {
    margin-top: 16px;
    margin-right: 26px;
    grid-column: 2;
  }
  
  .role {
    margin-top: 16px;
    margin-right: 5px;
    grid-column: 3;
  }

  CheckBox {
    padding-top: 9px;
    margin-bottom: 5px;
    grid-column: 4;
  }
  
  .container::-webkit-scrollbar {
    width: 8px;
  }
  
  .container::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  .container::-webkit-scrollbar-thumb {
    background-color: #565656;
    border-radius: 10px;
  }
  
  .container::-webkit-scrollbar-thumb:hover {
    background-color: #888;
  }