.container {
    position: relative;
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    border-radius: 5px;
    width: 344px;
    height: 213px;
    background-color: #ffffff;
    font-style: normal;
    font-size: 11px;
    line-height: 13px;
    border-radius: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    border: #ffffff;
}

.info {
    position: absolute;
    display: flex;
    white-space: nowrap;
    width: 345px;
    height: 13px;
    left: 13px;
    top: 75px;
    display: inline-block;
}

.infoBlock {
    padding-bottom: 5px;
    max-width: 327px;
    text-overflow: clip;
    overflow: hidden;
}

.idBlock {
    padding-bottom: 5px;
    max-width: 138px;
    text-overflow: clip;
    overflow: hidden;
}

.busCard {
    position: absolute;
    border-radius: 0px 0px 10px 10px;
    width: 344px;
    height: 93px;
    left: 0px;
    float: left;
    top: 120px;
    background-color: #a3b4da;
}

.busBlock {
    padding-bottom: 5px;
    white-space: nowrap;
    max-width: 320.5px;
    text-overflow: clip;
    overflow: hidden;
}

.cardIcon {
    position: absolute;
    width: 38px;
    height: 38px;
    left: 19px;
    top: 15px;
    background-image: url('shared/images/card-icon.png');
}

.rectangle {
    position: absolute;
    width: 291px;
    height: 6px;
    left: 0px;
    top: 114px;
    background: linear-gradient(90deg, #58afff 0%, #004584 100%);
}

.rectangle2 {
    position: absolute;
    width: 53px;
    height: 6px;
    left: 291px;
    top: 114px;
    background: #fba664;
}

.date {
    position: absolute;
    width: 175px;
    height: 13px;
    left: 158px;
    top: 99px;
}

.names {
    position: absolute;
    width: 110px;
    height: 25px;
    left: 64px;
    top: 10px;
}

.titleText {
    font-weight: 700;
    font-weight: bold;
    font-size: 21px;
    line-height: 25px;
}

.redTitleText {
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    color: #fe4545;
    font-style: italic;
}

.busCardText {
    margin-left: 15px;
    margin-top: 15px;
    font-size: 13px;
}

.text {
    font-weight: bold;
    font-size: 13px;
}

.dateText {
    font-size: 9px;
    font-weight: bold;
}
